html {
  scroll-behavior: smooth;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 60px;
  width: 100%;
  color: #fff;
  background-color: rgb(247, 242, 242);
  font-size: 20px;
  z-index: 99;
}

.navbar img {
  margin-left: 15%;
  width: 60px;
  height: auto;
  left: 5;
}

.navbar .links {
  display: flex;
  justify-content: flex-end;
  margin-right: 10%;
}

.navbar a {
  margin-right: 70px;
  position: relative;
}

.navbar a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: purple;
  transition: all ease-in-out 300ms;

}

.navbar a:hover::after {
  left: 25%;
  width: 50%;
}