nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #1b2430;
  padding: 20px 80px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.06);
}
#bar{
  display: contents;
  z-index: 999;
}
#navbars{
  display: flex;
  align-items: center;
  justify-content: center;
}
#navbars li{
  list-style: none;
  padding: 0 20px;
  position: relative;
}
#navbars li a{
  font-size: 1.3rem;
  font-weight: 600;
  color: #fff;
}
#navbars li a.active{
  color:#17cf97
}
#navbars li a.active::after{
  content: "";
  position: absolute;
  width: 50%;
  height: 2px;
  background: #17cf97;
  bottom: 0;
  left: 25%;
}

#navbars li a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 2px;
  background: #17cf97;
  transition: all ease-in-out 300ms;
}
#navbars a:hover{
  color: #17cf97;
}
#navbars a:hover::after {
  left: 25%;
  width: 50%;
}


#mobile{
  display: none;
}
#mobile i{
  color: #fff;
  position: absolute;
  top: 10px;
  right: 20px;
}
@media screen and (max-width:769px) {
  #navbars{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: fixed; 
    top: 0; 
    right: -300px;
    width: 300px;
    height: 100vh;
    background: #2a3239;
    box-shadow: 0 40px 60px rgba(0,0,0,0.1);
    padding: 80px 0 0 10px;
    transition: 0.3s ease-in-out;
    z-index: 98;
  }
  #navbars.active{
    right: 0px;
  }
  #navbars li{
    margin-bottom: 25px;
  }
  #mobile{
    display: block;
  }
  #mobile i{
    font-size: 24px;
    cursor: pointer;
  }
}
