.contact__{
    display: block;
    width: 100%;
    height: auto;
    min-height: 100vh;
    border: 1px solid transparent;
    margin: 0 0 60px;
}
.container__contact{
    margin: 0 auto;
    border: 1px solid transparent;
    width: 50%;
}
@media screen and (max-width: 780px) {
    .contact__{
        display: flex;
        height: auto;
    }
    .container__contact{
        margin: 10px;
        width: 100%;
        color: blue;
    }

}