:root {
  --index:calc(1vw+1vh);
  --text:#e7e7e0;
  --transition:transform 0.75s cubic-bezier(0.075,0.5,0,1);
}
.wrapper{
  background-color: #010101;
  line-height: 1.5;
}
.header-main{
  position: relative;
}
.header-main::after{
  position: absolute;
  content: '';
  left: 0;
  z-index: 100;
  width: 100%;
  height: calc(var(--index)*10);
  background-image: url('./assets/ground.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  bottom: calc(var(--index) * -3.5); 
}
.header-top{
  position: relative;
}
.header-top::after{
  position: absolute;
  content: '';
  left: 0;
  z-index: 100;
  width: 100%;
  height: calc(var(--index)*10);
  background-image: url('./assets/ground.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  bottom: calc(var(--index) * -4.5); 
}
.layers{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
  position: relative;
}
.layer-head{
  z-index: 1;
  transform: translate3d(0,calc(var(--scrollTop)/2),0);
  transition: var(--transition);
  will-change: uppercase;
  font-weight: 900;
  color: var(--text);
  text-shadow: 0 0 20px #ba9827;
}
.caption{
  transform: translate3d(0,calc(var(--scrollTop)/5.7),0);
  font-size: calc(var(--index)/1.17);
  letter-spacing: calc(var(--index)/3.5);
  margin-top: calc(var(--index)*-0.75);
}
.title{
  font-size: calc(var(--index)*2.75);
}
.img-layer {
  height: 100%;
  width: 100%;
  position: absolute;
  background-size: cover;
  background-position: center;
  will-change: transform;
  z-index: 2;
  transition: var(--transition);
}
.layer-base{
  transform: translate3d(0,calc(var(--scrollTop)/1.6),0);
  z-index: 0;
}
.layer-mid{
  transform: translate3d(0,calc(var(--scrollTop)/2.5),0);

}
.layer-front{
  transform: translate3d(0,calc(var(--scrollTop)/5.6),0);

}
.article-main{
--mainarticle-transform:translate3d(0,calc(var(--scrollTop)/-7.6));
min-height: 120vh;
background-size: cover;
background-position-y: 75%;
color: var(--text);
display: flex;
justify-content: center;
align-items: center;
position: relative;
text-align: center;
top: -2px;
z-index: 10;
}
.m-header{
  text-transform: uppercase;
  font-size: calc(var(--index) * 1.7);
  letter-spacing:calc(var(--index) / 7.6);
  transform: var(--mainarticle-transform);
  transition: var(--transition);
  will-change: transform;
  color: black;
}
.m-paragraph{
  max-width: calc(var(--index)*50);
  font-size: 1em;
  font-weight: bold;
  margin-top:calc(var(--index) / 1.25);
  transform: var(--mainarticle-transform);
  transition: var(--transition);
  will-change: transform;
  color: black;
}
.content{
  will-change: transform;
}
.copy{
  position: absolute;
  bottom: calc(var(--index)* 2.5);
  opacity: .5;
  font-size: calc(var(--index)*0.75);
}

@media screen and (max-width: 780px) {
  .caption{
    transform: translate3d(0,calc(var(--scrollTop)/5.7),0);
    font-size: calc(var(--index)*5);
    letter-spacing: calc(var(--index)/6.5);
    margin-top: calc(var(--index)*-5.75);
  }
  .title{
    font-size: calc(var(--index)*6.75);
  }
  
  .m-header{
    font-size: calc(var(--index) * 3.7);
  }
  .m-paragraph{
    max-width: none;
    font-size:15px;
    margin: 15px;
    font-weight: bolder;
  }
  .article-main{
    min-height: 90vh;
    background-position: center;
    }
}


@media screen and (max-width: 1200px) {
  .article-main{
    background-position: center;
    }
}