video{
    width:100%;
    height: auto;
    filter: blur(1px) grayscale(50%)   
}
.container_Head{
    position: relative;
    width: 100%;
}
.wrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    padding: 10px;
    border-radius: 5px;
}