.container__gallery {
  max-width: 100%;
  margin: 0 autos;
  height: auto;
  background: #eee;
  padding: 30px;
}

.container__gallery h1{
  align-items: center;
  text-align: center;
  margin-bottom: 2px;
  font-size: 1em;
}
.posts {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 5fr));
  grid-template-rows: repeat(auto-fill, minmax(300px, 5fr));
  grid-row: inherit;
  gap: 30px;
}

.post {
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 100ms ease-in-out;
}
.post:hover {
  transform: scale(1.05);
}
.post img {
  max-width: 100%;
}
.post-content {
  padding: 30px;
}
.button-container button{
  display: flex;
  align-items: center;
  margin: 3em auto 1em;
  padding: 1.5em;
  color: white;
  background: rebeccapurple;
}
