.container__gallery {
  max-width: 100%;
  margin: 0 autos;
  height: 100%;
  background: #eee;
  padding: 30px;
}

.container__gallery h1{
  align-items: center;
  text-align: center;
  margin-bottom: 2px;
  font-size: 1em;
}
.posts {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-row: auto;
  gap: 30px;
}

.post {
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 100ms ease-in-out;
  border-radius: 8px 8px 0 0;
}
.post:hover,.post:focus {
  transform: scale(1.05);
}
.post img {
  max-width: 100%;
  border-radius: 8px 8px 0 0;
}
.post-content {
  padding: 30px;
}
.button-container button{
  display: flex;
  align-items: center;
  margin: 3em auto 1em;
  padding: 1.5em;
  color: white;
  background: rebeccapurple;
}
@media screen and (max-width: 780px) {

  .container__gallery {
    width: 100%;
  }
  .post img {
    max-width: 250px;
    max-height: 250px;

  }
  .posts {
    overflow-y: hidden;
    display: flex;
  }
  .container__gallery h1{
    align-items: center;
    text-align: center;
    margin-bottom: none;
    font-size: 12px;
  }
  .post-content {
    padding: 10px;
    margin: 50px;
  }

}