.container__gallery {
  width: 99.5vw;
  margin: 0 autos;
  min-height: 100%;
  background: #eee;
  padding: 30px;
  overflow: scroll;
}
.container__gallery h1{
  align-items: center;
  text-align: center;
  margin-bottom: 1em;
  font-size: 2em;
}
.posts {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 30px;
}

.post {
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 100ms ease-in-out;
}
.post:hover {
  transform: scale(1.05);
}
.post img {
  max-width: 100%;
}
.post-content {
  padding: 30px;
}
.button-container button{
  display: flex;
  align-items: center;
  margin: 1em auto;

}
