:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
/* Estilo para a scrollbar vertical */
::-webkit-scrollbar {
  width: 8px; /* Largura da scrollbar */
}

::-webkit-scrollbar-track {
  background-color: white; /* Cor de fundo da scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: #d4d4d4; /* Cor do preenchimento da scrollbar */
  border-radius: 3px; /* Raio das bordas da scrollbar */
}

/* Estilo para a scrollbar horizontal */
::-webkit-scrollbar-horizontal {
  height: 30px; /* Altura da scrollbar */
}

::-webkit-scrollbar-thumb:horizontal {
  background-color: #fff;; /* Cor do preenchimento da scrollbar */
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}